<div class="pop-up">
  <div
    class="start-page"
    [ngClass]="{
      'element-background-dark': darkModeRef,
      'element-background-light': !darkModeRef,
      'shadow-dark': darkModeRef
    }"
  >
    <i
      class="fas fa-times"
      (click)="emitCloseEvent()"
      *ngIf="url === 'exercises'"
    ></i>
    <div
      *ngIf="url === 'exercises'"
      [ngClass]="{ 'text-dark': darkModeRef, 'text-light': !darkModeRef }"
    >
      <p class="pop-up-title">
        You have selected {{ cardExercisesRef.length }} exercises to be included
        in your card game workout
      </p>
      <p class="pop-up-title">To play the game, would you like to:</p>
      <div class="options">
        <div class="option" *ngIf="cardExercisesRef.length !== 0">
          <p>Continue with only {{ cardExercisesRef.length }} exercises</p>
          <button
            class="button"
            [ngClass]="{ 'shadow-dark': darkModeRef }"
            routerLink="/card-game"
          >
            Play Now
          </button>
        </div>
        <div class="option">
          <p>
            Have other {{ 10 - cardExercisesRef.length }} workouts chosen
            randomly for me
          </p>
          <button
            class="button"
            [ngClass]="{ 'shadow-dark': darkModeRef }"
            (click)="emitGenerateEvent()"
          >
            Surprise Me
          </button>
        </div>
        <div class="option">
          <p>Go back to exercises page to choose more exercises</p>
          <button
            class="button"
            [ngClass]="{ 'shadow-dark': darkModeRef }"
            (click)="emitCloseEvent()"
          >
            Go Back
          </button>
        </div>
      </div>
    </div>
    <div *ngIf="url === 'card-game'">
      <p class="pop-up-title">
        You have no selected exercises to be included in your card game workout.
      </p>
      <p class="pop-up-title">To play the game, would you like to:</p>
      <div class="options">
        <div class="option">
          <p>Have all of your exercises chosen for you</p>
          <button
            class="button"
            [ngClass]="{ 'shadow-dark': darkModeRef }"
            (click)="emitGenerateEvent()"
          >
            Surprise Me
          </button>
        </div>
        <div class="option">
          <p>Go to exercises page to choose more exercises</p>
          <button
            class="button"
            [ngClass]="{ 'shadow-dark': darkModeRef }"
            routerLink="/exercises"
          >
            Exercise Page
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
