.start-page {
  width: 75%;
  text-align: center;
}

.status,
.options {
  padding: 20px;
}

.status {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin: 0;
}

.options {
  color: hsl(0, 0%, 98%);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.pop-up-title {
  font-weight: 900;
}

.pop-up-options-title {
  margin-bottom: 10px;
  font-weight: 900;
}

.option {
  margin-bottom: 10px;
}

@media only screen and (min-width: 768px) {
  .options {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .option-para {
    width: 75%;
    text-align: left;
  }

  .option {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
}
