<div class="pop-up">
  <div
    class="game-description"
    [ngClass]="{
      'element-background-dark': darkModeRef,
      'element-background-light': !darkModeRef,
      'text-dark': darkModeRef,
      'text-light': !darkModeRef
    }"
  >
    <i class="fas fa-times" (click)="emitCloseEvent()"></i>
    <h2 class="how-to-title">How To Play</h2>
    <p class="description-para">
      Looks through our list of exercises and choose up to 10 to be included in
      your workout game. You have the choice to either:
    </p>
    <ul class="description-list">
      <li>Play with the exercises of your choice.</li>
      <li>Let CARDio randomly generate exercises for you.</li>
      <li>
        Choose between a lower body, upper body, core or full body workout, and
        CARDio will pick the exercises for you.
      </li>
    </ul>
    <p class="description-para">
      To start the game, click on the deck of cards and a card will be flipped
      over with one of your chosen exercises displayed beneath it. The card
      indicates how many reps you will do for that specfic exercise. For
      example:
    </p>
    <img
      class="example-image"
      src="assets/EC0B35BC-ED11-40F3-AF97-CEF91B28DFF9_4_5005_c.jpeg"
      alt=""
    />
    <p class="description-para">
      In this case, you will do 6 reps of Calf Raises. Face cards have a value
      of 10 reps, and Aces have a value of 1 rep. If you need a refresher on how
      to do an exercise, press the "Show Description" button for an explanation.
    </p>
    <p class="description-para">
      When you finish your reps for that exercise, click the deck of cards to
      display your next exercise. The goal is to get through all 52 cards, but
      you can stop whenever you'd like and press the "Finish Workout" button.
    </p>
  </div>
</div>
