<header
  class="header"
  [ngClass]="{
    'text-dark': darkMode,
    'text-light': !darkMode,
    'element-background-light': !darkMode,
    'element-background-dark': darkMode
  }"
>
  <img
    *ngIf="!darkMode"
    class="logo"
    src="assets/header-light.svg"
    alt="Light Mode Logo"
  />
  <img
    *ngIf="darkMode"
    class="logo"
    src="assets/header-dark.svg"
    alt="Dark Mode Logo"
  />
  <nav>
    <ul class="nav">
      <li class="tab">
        <a
          class="link"
          routerLink="/"
          [ngClass]="{
            'text-dark': darkMode,
            'text-light': !darkMode,
            'current-tab': currentTabRef === 'home'
          }"
          >Home</a
        >
      </li>
      <li class="tab">
        <a
          class="link"
          routerLink="/exercises"
          [ngClass]="{
            'text-dark': darkMode,
            'text-light': !darkMode,
            'current-tab': currentTabRef === 'exercises'
          }"
          >Exercises</a
        >
      </li>
      <li class="tab">
        <a
          class="link"
          routerLink="/card-game"
          [ngClass]="{
            'text-dark': darkMode,
            'text-light': !darkMode,
            'current-tab': currentTabRef === 'card-game'
          }"
          >Card Game</a
        >
      </li>
      <li class="tab">
        <a
          class="link"
          routerLink="/about-us"
          [ngClass]="{
            'text-dark': darkMode,
            'text-light': !darkMode,
            'current-tab': currentTabRef === 'about-us'
          }"
          >About Us</a
        >
      </li>

      <i
        *ngIf="!darkMode"
        (click)="emitToggleModeEvent()"
        class="far fa-moon"
        [ngClass]="{ 'text-dark': darkMode, 'text-light': !darkMode }"
      ></i>
      <i
        *ngIf="darkMode"
        (click)="emitToggleModeEvent()"
        class="fas fa-sun"
        [ngClass]="{ 'text-dark': darkMode, 'text-light': !darkMode }"
      ></i>
    </ul>
  </nav>
</header>
