.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 15px 10px;
  box-sizing: border-box;
  align-items: center;
}

.element-background-dark {
  border-bottom: 1px solid white;
}

.nav {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
}

.current-tab {
  color: rgb(75, 125, 219) !important;
  padding: 5px 0px;
  box-sizing: content-box;
  border-bottom: 1px solid;
}

.tab {
  padding: 5px;
  margin: 0px 8px;
}

.link {
  text-decoration: none;
}

.logo {
  height: 100px;
}

.logo {
  cursor: pointer;
}

@media only screen and (min-width: 425px) {
  .header {
    padding: 15px;
  }
}

@media only screen and (min-width: 620px) {
  .header {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
  }
  .nav {
    padding: 20px;
    padding-right: 0px;
    justify-content: right;
  }
}
