.list-item {
  position: relative;
  width: 100%;
  margin-bottom: 10px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.exercise-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 138px;
}

.detail-header {
  font-size: 9px;
  text-align: center;
}

.difficulty {
  display: flex;
  font-family: "Sigmar One", cursive;
}

.difficulty-one {
  color: green;
}

.difficulty-two {
  color: lightgreen;
}

.difficulty-three {
  color: rgb(207, 207, 24);
}

.difficulty-four {
  color: orange;
}

.difficulty-five {
  color: red;
}

.pop-up-description {
  width: 50%;
  border-radius: 15px;
  padding: 15px;
  position: relative;
}

.error-close {
  position: relative;
  top: 50%;
}

.pop-up-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: auto;
  padding: 5px;
}

.error-message-div {
  position: relative;
  color: red;
  display: flex;
  margin: 5px 0px;
  align-items: center;
}

.name-div {
  display: flex;
  align-items: center;
  width: 50%;
}

.muscle-group {
  background-color: rgba(0, 0, 0, 0.5);
  margin-bottom: 4px;
  color: white;
  border-radius: 15px;
  padding: 2px 6px;
  font-size: 10px;
  width: fit-content;
}

.group-one {
  background-color: red;
}

.group-two {
  background-color: orange;
}

.group-three {
  background-color: pink;
}

.group-four {
  background-color: green;
}

.group-five {
  background-color: blue;
}

.group-six {
  background-color: purple;
}

.group-seven {
  background-color: navy;
}

.group-eight {
  background-color: blueviolet;
}

.description {
  font-size: 11px;
}

.name {
  font-weight: bolder;
  font-size: 17px;
  margin-bottom: 10px;
}

@media only screen and (min-width: 768px) {
  .list-item {
    padding: 10px 15px 10px 10px;
  }

  .left-margin {
    margin-left: 20px;
  }

  .error-message-div {
    left: 35px;
  }
  .muscle-group {
    font-size: 10px;
  }
}

@media only screen and (min-width: 1024px) {
  .exercise-details {
    flex-direction: row;
    justify-content: space-between;
    flex: 3;
  }

  .name-div {
    flex: 2;
  }
}
