.intro {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  box-sizing: border-box;
  margin-bottom: 15px;
  text-align: center;
  background-image: linear-gradient(
    to right,
    rgb(48, 53, 92),
    rgb(100, 104, 136)
  ) !important;
  color: hsl(0, 0%, 98%);
}
.intro-paragraph {
  margin: 5px 0px;
}
.bio-div {
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
}
.tara,
.rocky,
.jeff {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  text-align: center;
}
.tara,
.rocky {
  border-bottom: 1px solid black;
}
.personal-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}
.name {
  padding-bottom: 10px;
}
.image {
  height: 150px;
  width: 150px;
}
.personal-links {
  padding-top: 10px;
}
.link {
  text-decoration: none;
}

@media only screen and (min-width: 768px) {
  .intro,
  .bio-div {
    padding: 20px;
  }
  .tara,
  .jeff {
    flex-direction: row;
  }
  .rocky {
    flex-direction: row-reverse;
  }
  .personal-info {
    padding: 20px;
  }
  .image {
    height: 200px;
    width: 200px;
  }
}

@media only screen and (min-width: 1024px) {
  .image {
    height: 250px;
    width: 250px;
  }
}
