<div class="pop-up">
  <form
    class="pop-up-form"
    #addForm="ngForm"
    [ngClass]="{
      'element-background-dark': darkModeRef,
      'element-background-light': !darkModeRef,
      'text-dark': darkModeRef,
      'text-light': !darkModeRef
    }"
    (ngSubmit)="onSubmit(addForm)"
  >
    <p>Add Exercise</p>
    <label class="label" for="name">Name</label>
    <input type="text" name="name" id="name" required ngModel />
    <label class="label" for="bodyPart">Target Body Part</label>
    <select name="bodyPart" id="bodyPart" required ngModel>
      <option value=""></option>
      <option value="1">Calves</option>
      <option value="2">Thighs</option>
      <option value="3">Glutes and Hamstrings</option>
      <option value="4">Core</option>
      <option value="5">Back and Biceps</option>
      <option value="6">Chest, Shoulders, and Triceps</option>
      <option value="7">Full Body</option>
      <option value="8">Plyometrics</option>
    </select>
    <label class="label" for="difficulty">Difficulty:</label>
    <select name="difficulty" id="difficulty" required ngModel>
      <option value=""></option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select>
    <label class="label" for="description">Enter Description</label>
    <textarea
      name="description"
      id="description"
      cols="30"
      rows="10"
      required
      ngModel
    ></textarea>
    <i class="fas fa-times" (click)="emitCloseForm()"></i>
    <button class="button" [ngClass]="{ 'shadow-dark': darkModeRef }">
      Submit
    </button>
    <p class="error" *ngIf="errorMessage">Must Input All Fields</p>
  </form>
</div>
