<app-header
  [currentTabRef]="currentTab"
  (toggleModeEvent)="toggleMode()"
></app-header>
<div
  class="page-container"
  [ngClass]="{ 'background-dark': darkMode, 'background-light': !darkMode }"
>
  <app-options-pop-up
    *ngIf="gameExercises.length === 0 || gameExercises === undefined"
    [cardExercisesRef]="gameExercises"
    [darkModeRef]="darkMode"
    (generateEvent)="randomlyGenerateExercises($event)"
  ></app-options-pop-up>

  <div class="game-options">
    <div class="game-visuals">
      <div class="all-buttons">
        <button
          class="button how-to"
          (click)="toggleDescription()"
          [ngClass]="{
            'shadow-dark': darkMode
          }"
        >
          HOW TO PLAY
        </button>
        <app-game-description
          (closeEvent)="toggleDescription()"
          *ngIf="descriptionPage"
          [darkModeRef]="darkMode"
        ></app-game-description>

        <button
          *ngIf="checkGameStatus() === 2 && !gameStarted"
          class="start-finish button"
          [ngClass]="{
            'text-dark': darkMode,
            'shadow-dark': darkMode
          }"
          (click)="updateIndex()"
        >
          START WORKOUT
        </button>
        <button
          *ngIf="gameStarted"
          class="start-finish button"
          [ngClass]="{
            'text-dark': darkMode,
            'shadow-dark': darkMode
          }"
          (click)="endGame()"
        >
          FINISH WORKOUT
        </button>

        <div class="button-container">
          <button
            *ngIf="timerRunning"
            class="button"
            [ngClass]="{
              'text-dark': darkMode,
              'shadow-dark': darkMode
            }"
            (click)="stopTimer()"
          >
            PAUSE
          </button>
          <button
            *ngIf="!timerRunning && seconds !== 0"
            class="button continue"
            [ngClass]="{
              'text-dark': darkMode,
              'shadow-dark': darkMode
            }"
            (click)="startTimer()"
          >
            CONTINUE
          </button>
          <button
            *ngIf="gameStarted"
            class="button reset"
            [ngClass]="{
              'text-dark': darkMode,
              'shadow-dark': darkMode
            }"
            (click)="resetGame()"
          >
            RESET
          </button>
        </div>
      </div>
      <div
        class="timer"
        [ngClass]="{ 'text-dark': darkMode, 'text-light': !darkMode }"
      >
        <div class="timer">
          <p *ngIf="10 > hour">0</p>
          <p>{{ hour }} :&nbsp;</p>
        </div>
        <div class="timer">
          <p *ngIf="10 > minutes">0</p>
          <p>{{ minutes }} :&nbsp;</p>
        </div>
        <div class="timer">
          <p *ngIf="10 > seconds">0</p>
          <p>{{ seconds }}</p>
        </div>
      </div>
      <div class="card-container">
        <div class="remaining-div">
          <p class="remaining-cards">{{ remaining }}</p>
        </div>
        <app-card
          *ngFor="let card of pileList; index as i"
          [cardRef]="card"
          [indexRef]="i"
          [currentIndexRef]="currentIndex"
          (flipEvent)="updateIndex()"
        ></app-card>
        <div
          [ngClass]="{
            'empty-card': currentIndex === -1,
            front: currentIndex === -1
          }"
        ></div>
        <div
          [ngClass]="{
            'empty-card': currentIndex === 51,
            back: currentIndex === 51
          }"
        ></div>
      </div>

      <app-exercise
        *ngIf="checkGameStatus() === 1"
        [exerciseRef]="currentExercise"
        [cardExercisesRef]="gameExercises"
        [gameModeRef]="gameMode"
        [darkModeRef]="darkMode"
      ></app-exercise>
    </div>

    <div class="game-exercises-display">
      <app-game-exercises
        [cardExercisesRef]="gameExercises"
        [currentExerciseRef]="currentExercise"
        [darkModeRef]="darkMode"
      ></app-game-exercises>
    </div>
    <app-game-stats
      *ngIf="gameOver"
      [exerciseStatsRef]="exerciseStats"
      [timeStatsRef]="timeStats"
      [cardExercisesRef]="gameExercises"
      [darkModeRef]="darkMode"
      (closeEvent)="toggleGameOver()"
    ></app-game-stats>
  </div>
</div>
