<div
  class="page-container game"
  [ngClass]="{ 'background-dark': darkMode, 'background-light': !darkMode }"
>
  <app-header (toggleModeEvent)="toggleMode()"></app-header>
  <app-options-pop-up
    *ngIf="gameExercises.length === 0 || gameExercises === undefined"
    [cardExercisesRef]="gameExercises"
    (generateEvent)="randomlyGenerateExercises()"
  ></app-options-pop-up>
  <div class="game-options">
    <div class="game-visuals">
      <div class="all-buttons">
        <button
          *ngIf="checkGameStatus() === 2 && !gameStarted"
          class="start-finish button"
          (click)="startTimer()"
        >
          START WORKOUT
        </button>
        <button
          *ngIf="gameStarted"
          class="start-finish button"
          (click)="endGame()"
        >
          FINISH WORKOUT
        </button>

        <div class="button-container">
          <button *ngIf="timerRunning" class="button" (click)="stopTimer()">
            PAUSE
          </button>
          <button
            *ngIf="!timerRunning && seconds !== 0"
            class="button continue"
            (click)="startTimer()"
          >
            CONTINUE
          </button>
          <button
            *ngIf="gameStarted"
            class="button reset"
            (click)="resetGame()"
          >
            RESET
          </button>
        </div>
      </div>
      <div class="timer">
        <div class="timer">
          <p *ngIf="10 > hour">0</p>
          <p>{{ hour }} :&nbsp;</p>
        </div>
        <div class="timer">
          <p *ngIf="10 > minutes">0</p>
          <p>{{ minutes }} :&nbsp;</p>
        </div>
        <div class="timer">
          <p *ngIf="10 > seconds">0</p>
          <p>{{ seconds }}</p>
        </div>
      </div>
      <div class="card-container">
        <app-card
          *ngFor="let card of pileList; index as i"
          [cardRef]="card"
          [indexRef]="i"
          [currentIndexRef]="currentIndex"
          (flipEvent)="updateIndex()"
        ></app-card>
        <div
          [ngClass]="{
            'empty-card': currentIndex === -1,
            front: currentIndex === -1
          }"
        ></div>
        <div
          [ngClass]="{
            'empty-card': currentIndex === 52,
            back: currentIndex === 52
          }"
        ></div>
      </div>

      <app-exercise
        *ngIf="checkGameStatus() === 1"
        [exerciseRef]="currentExercise"
        [cardExercisesRef]="gameExercises"
        [gameModeRef]="gameMode"
      ></app-exercise>
    </div>
    <!-- </div> -->

    <app-game-exercises [cardExercisesRef]="gameExercises"></app-game-exercises>
    <app-game-stats
      *ngIf="gameOver"
      [exerciseStatsRef]="exerciseStats"
      [timeStatsRef]="timeStats"
      [cardExercisesRef]="gameExercises"
      (closeEvent)="toggleGameOver()"
    ></app-game-stats>
  </div>
</div>
