.test {
  width: 150px;
  border: 2px solid black;
}

.game {
  display: flex;
  justify-content: center;
}

.card-container {
  display: flex;
}

.image {
  width: 100%;
}

.timer {
  display: flex;
}
