.form {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 20px;
}

.input {
  margin: 5px auto;
  padding: 5px 0px;
  border: 1px solid lightgray;
  width: 75%;
}

.button {
  margin: 10px auto 20px auto;
  width: 75%;
}
