.exercises-page-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.game-exercises-display,
.all-exercises-div {
  padding: 15px;
}

.all-exercises {
  width: 100%;
}

.buttons {
  display: flex;
}

.button {
  width: 75%;
  margin: 10px auto 0px auto;
  background-color: white;
}

.left-button {
  margin-right: 2px;
}

.right-button {
  margin-left: 2px;
}

.shadow-dark {
  background-color: transparent !important;
}

.filter-mobiile {
  display: initial;
}

.filter-desktop {
  display: none;
}

.no-exercises-para {
  text-align: center;
}

.to-top-div {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: fixed;
  bottom: 5px;
  right: 5px;
  opacity: 0.65;
}

.fa-chevron-circle-up {
  position: relative;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media only screen and (min-width: 768px) {
  .exercises-page-container {
    flex-direction: row;
  }
  .all-exercises {
    padding: 0px 20px;
  }
  .game-exercises-display {
    padding-right: 0;
    display: flex;
    flex-direction: column;
    flex: 2;
  }
  .all-exercises-div {
    padding-left: 0;
    display: flex;
    flex-direction: column;
    flex: 5;
  }
  .filter-mobile {
    display: none;
  }
  .filter-desktop {
    display: initial;
  }
}

@media only screen and (min-width: 1024px) {
  /* .all-exercises {
    width: 64%;
  } */
}
