<app-header
  [currentTabRef]="currentTab"
  (toggleModeEvent)="toggleMode()"
></app-header>

<app-filter-form
  class="filter-desktop"
  [darkModeRef]="darkMode"
  (submitEvent)="setFilterTerms($event)"
  (clearFilterEvent)="resetFilterTerms()"
  (addEvent)="addExercise($event)"
  (vocabEvent)="toggleVocabPage()"
></app-filter-form>

<div *ngIf="vocabPage" class="pop-up">
  <div class="diagram-page">
    <i class="fas fa-times" (click)="toggleVocabPage()"></i>
    <img
      src="assets/vocab-sheet.png"
      class="vocab-diagram diagram-desktop"
      alt="Vocab Diagram"
    />
    <img
      src="assets/front.png"
      class="vocab-diagram diagram-mobile"
      alt="Vocab Diagram Front"
    />
    <img
      src="assets/back.png"
      class="vocab-diagram diagram-mobile"
      alt="Vocab Diagram Back"
    />
  </div>
</div>

<div
  class="exercises-page-container"
  [ngClass]="{
    'background-dark': darkMode,
    'background-light': !darkMode
  }"
>
  <div class="game-exercises-display">
    <app-game-exercises
      [cardExercisesRef]="cardExercises"
      [darkModeRef]="darkMode"
      (removeEvent)="removeFromGame($event)"
      (clearEvent)="clearGameExercises()"
    ></app-game-exercises>

    <div class="buttons">
      <button
        class="button left-button"
        [ngClass]="{
          'text-dark': darkMode,
          'shadow-dark': darkMode,
          'text-light': !darkMode
        }"
        (click)="startGame()"
      >
        Start Game
      </button>

      <button
        class="button right-button"
        (click)="toggleDescription()"
        [ngClass]="{
          'text-dark': darkMode,
          'shadow-dark': darkMode,
          'text-light': !darkMode
        }"
      >
        How To Play
      </button>
    </div>
  </div>
  <app-game-description
    (closeEvent)="toggleDescription()"
    *ngIf="descriptionPage"
    [darkModeRef]="darkMode"
  ></app-game-description>

  <app-filter-form
    class="filter-mobile"
    [darkModeRef]="darkMode"
    (submitEvent)="setFilterTerms($event)"
    (clearFilterEvent)="resetFilterTerms()"
    (addEvent)="addExercise($event)"
    (vocabEvent)="toggleVocabPage()"
  ></app-filter-form>

  <div class="all-exercises-div">
    <p
      *ngIf="filteredExercises.length === 0"
      class="no-exercises-para"
      [ngClass]="{ 'text-dark': darkMode }"
    >
      Sorry! There are no exercises that meet your search criteria.
    </p>
    <ul class="all-exercises">
      <app-exercise
        *ngFor="let exercise of filteredExercises"
        [exerciseRef]="exercise"
        [cardExercisesRef]="cardExercises"
        [gameModeRef]="gameMode"
        [darkModeRef]="darkMode"
        (addToGameEvent)="addToGame($event)"
        (removeFromGameEvent)="removeFromGame($event)"
      ></app-exercise>
    </ul>
  </div>

  <app-options-pop-up
    *ngIf="startPage"
    [darkModeRef]="darkMode"
    [cardExercisesRef]="cardExercises"
    (closeEvent)="toggleStartPage()"
    (generateEvent)="randomlyGenerateExercises($event)"
  ></app-options-pop-up>

  <div
    class="to-top-div"
    *ngIf="scrolled"
    [ngClass]="{
      'element-background-dark': !darkMode,
      'element-background-light': darkMode
    }"
  >
    <i
      class="fas fa-chevron-circle-up fa-lg"
      title="Back to Top"
      [ngClass]="{ 'text-light': darkMode, 'text-dark': !darkMode }"
      (click)="toTop()"
    ></i>
  </div>
</div>
