.lists {
  margin: 10px 0px;
}

@media only screen and (min-width: 768px) {
  .page-container {
    padding: 20px;
  }
  .lists {
    display: flex;
    padding: 0px;
  }
  .left-side {
    width: 250px;
  }
  .all-exercises {
    flex: 3;
    padding: 0px 20px;
  }
}
