.lists {
  margin: 10px 0px;
}

.ordered-list {
  padding: 0px;
  padding-left: 20px;
}

.game-exercises {
  width: 100%;
  height: fit-content;
  padding: 10px 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 255, 0.2);
  box-sizing: border-box;
}

.list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3px 0px;
}

@media only screen and (min-width: 768px) {
  .page-container {
    padding: 20px;
  }
  .lists {
    display: flex;
  }
  .game-exercises {
    flex: 1;
  }
  .all-exercises {
    flex: 3;
    padding: 0px 20px;
  }
}
