.stats-page {
  text-align: center;
  padding: 10px;
}

.stats-para {
  padding: 5px;
}

.button-position {
  position: relative;
  width: 75%;
  border-radius: 15px;
  padding: 20px;
}

.button {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -25px);
}
