/* You can add global styles to this file, and also import other style files */
body,
h1,
p,
ul,
h3,
h4,
li {
  padding: 0;
  margin: 0;
}

.page-container {
  min-height: 100vh;
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
}

.pop-up {
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-plus,
.fa-minus,
.fa-times {
  padding: 5px;
  transition: 0.3s;
}

.fa-times {
  position: absolute;
  top: 5px;
  right: 5px;
}

.fa-plus:hover {
  font-size: 20px;
  color: rgb(74, 219, 74);
}

.fa-minus:hover {
  font-size: 20px;
  color: red;
}

.fa-times:hover {
  font-size: 20px;
  color: gray;
}

.button {
  background-color: transparent;
  border-radius: 8px;
  padding: 5px;
  margin: 5px 0px;
}

@media only screen and (min-width: 768px) {
  .fa-plus,
  .fa-minus,
  .fa-times {
    width: 25px;
  }
}
