<app-header
  [currentTabRef]="currentTab"
  (toggleModeEvent)="toggleMode()"
></app-header>
<section class="body-section">
  <section class="welcome-section">
    <div class="image-div">
      <img class="jump-image" src="assets/final-home-image.png" alt="" />
    </div>
    <div
      class="welcome-container"
      [ngClass]="{
        'element-background-dark': darkMode,
        'element-background-light': !darkMode,
        'text-dark': darkMode,
        'text-light': !darkMode
      }"
    >
      <!-- <h1 class="welcome-title">Welcome to CARDio</h1> -->
      <h2 class="tag-line">CARDio will get you fired up!</h2>
      <h3 class="tag-line-2">When the world is trying to hold you back.</h3>
      <p class="welcome-message">
        This pandemic has been a trying time for everybody. Are your energy
        levels depleted? Exhausted from being confined to your home? Running out
        of things to do? The team at CARDio believes one of the best ways to
        combat these situations is to exercise, but where do you start? With
        CARDio, you can exercise in the comfort of your own home, or take your
        workout outside.
      </p>
    </div>
  </section>

  <section class="slide-show-section">
    <div
      id="carouselExampleIndicators"
      class="carousel slide"
      data-bs-ride="carousel"
    >
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="10000">
          <img
            class="home-image"
            src="assets/final-collage-vertical.png"
            alt=""
          />
          <div
            class="message-container"
            [ngClass]="{
              'element-background-dark': darkMode,
              'element-background-light': !darkMode,
              'text-dark': darkMode,
              'text-light': !darkMode
            }"
          >
            <h2 class="message-title">Workouts for every fitness level</h2>
            <p class="message">
              Search through our database of exersises and discover a variety of
              workouts that can easily be done at home. Filter by exercise name,
              target muscle group, and level of difficulty. CARDio makes it
              simple to find what fits you.
            </p>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="10000">
          <img class="home-image" src="assets/final-add-exercise.png" alt="" />
          <div
            class="message-container"
            [ngClass]="{
              'element-background-dark': darkMode,
              'element-background-light': !darkMode,
              'text-dark': darkMode,
              'text-light': !darkMode
            }"
          >
            <h2 class="message-title">
              Can't find the exercises you're looking for?
            </h2>
            <p class="message">
              Our collection of exercises is forever growing. Users are able to
              submit workouts of their own that will be stored in our database,
              and will instantly be available for every user to try. We're all
              in this together!
            </p>
          </div>
        </div>

        <div class="carousel-item" data-bs-interval="10000">
          <img
            class="home-image"
            src="assets/final-card-game-image.png"
            alt=""
          />
          <div
            class="message-container"
            [ngClass]="{
              'element-background-dark': darkMode,
              'element-background-light': !darkMode,
              'text-dark': darkMode,
              'text-light': !darkMode
            }"
          >
            <h2 class="message-title">Looking for an extra challenge?</h2>
            <p class="message">
              Try CARDio's built in card game and race against the clock to
              complete a series of workouts. Select your favortie exercises or
              let CARDio generate them for you. Start the game and see if you
              can make it through the whole deck!
            </p>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="10000">
          <img class="home-image" src="assets/final-stats.png" alt="" />
          <div
            class="message-container"
            [ngClass]="{
              'element-background-dark': darkMode,
              'element-background-light': !darkMode,
              'text-dark': darkMode,
              'text-light': !darkMode
            }"
          >
            <h2 class="message-title">Track Your Stats</h2>
            <p class="message">
              After finishing your card game workout you will receive a summary
              showing what exercises you did, how many cards you completed, and
              the time that it took. Save your workout stats as a PDF and try
              and beat your scores on future workouts.
            </p>
          </div>
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </section>

  <section class="desktop-view">
    <div class="row-1">
      <div class="slide-items">
        <img
          class="home-image"
          src="assets/final-collage-vertical.png"
          alt=""
        />
        <div
          class="message-container"
          [ngClass]="{
            'element-background-dark': darkMode,
            'element-background-light': !darkMode,
            'text-dark': darkMode,
            'text-light': !darkMode
          }"
        >
          <h2 class="message-title">Workouts for every fitness level</h2>
          <p class="message">
            Search through our database of exersises and discover a variety of
            workouts that can easily be done at home. Filter by exercise name,
            target muscle group, and level of difficulty. CARDio makes it simple
            to find what fits you.
          </p>
        </div>
      </div>
      <div class="slide-items">
        <img class="home-image" src="assets/final-add-exercise.png" alt="" />
        <div
          class="message-container"
          [ngClass]="{
            'element-background-dark': darkMode,
            'element-background-light': !darkMode,
            'text-dark': darkMode,
            'text-light': !darkMode
          }"
        >
          <h2 class="message-title">
            Can't find the exercises you're looking for?
          </h2>
          <p class="message">
            Our collection of exercises is forever growing. Users are able to
            submit workouts of their own that will be stored in our database,
            and will instantly be available for every user to try. We're all in
            this together!
          </p>
        </div>
      </div>
    </div>
    <div class="row-2">
      <div class="slide-items">
        <img class="home-image" src="assets/final-card-game-image.png" alt="" />
        <div
          class="message-container"
          [ngClass]="{
            'element-background-dark': darkMode,
            'element-background-light': !darkMode,
            'text-dark': darkMode,
            'text-light': !darkMode
          }"
        >
          <h2 class="message-title">Looking for an extra challenge?</h2>
          <p class="message">
            Try CARDio's built in card game and race against the clock to
            complete a series of workouts. Select your favortie exercises or let
            CARDio generate them for you. Start the game and see if you can make
            it through the whole deck!
          </p>
        </div>
      </div>
      <div class="slide-items">
        <img class="home-image" src="assets/final-stats.png" alt="" />
        <div
          class="message-container"
          [ngClass]="{
            'element-background-dark': darkMode,
            'element-background-light': !darkMode,
            'text-dark': darkMode,
            'text-light': !darkMode
          }"
        >
          <h2 class="message-title">Track Your Stats</h2>
          <p class="message">
            After finishing your card game workout you will receive a summary
            showing what exercises you did, how many cards you completed, and
            the time that it took. Save your workout stats as a PDF and try and
            beat your scores on future workouts.
          </p>
        </div>
      </div>
    </div>
  </section>
</section>
