.home-header {
  padding: 15px;
}
.body-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.jump-image {
  width: 100%;
  height: auto;
  box-sizing: border-box;
}

.welcome-container {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  /* text-align: center; */
  height: fit-content;
  box-sizing: border-box;
  background-image: linear-gradient(
    to right,
    rgb(48, 53, 92),
    rgb(100, 104, 136)
  ) !important;
}
.welcome-title {
  font-size: 35px;
  margin-bottom: 10px;
}
.tag-line {
  font-size: 25px;

  color: rgb(218, 222, 253);
}
.tag-line-2 {
  padding: 0 20px 0 20px;
  font-size: 20px;
  text-align: end;
  color: rgb(180, 186, 230);
}

.welcome-message {
  width: 100%;
  padding: 10px 0 10px 0;
  /* text-align: center; */
  font-size: 15px;
  color: rgb(218, 222, 253);
}
.all-messages {
  width: 100%;
  display: flex;
}
.message-container {
  height: 175px;
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  box-sizing: border-box;
}

.home-image {
  width: 100%;
  height: auto;
  box-sizing: border-box;
}

.message-title {
  margin-bottom: 10px;
  font-size: 18px;
}

.message {
  font-size: 15px;
}

.carousel-control-next,
.carousel-control-prev {
  background-color: transparent !important;
}

.desktop-view {
  display: none;
}
@media only screen and (min-width: 768px) {
  .slide-show-section {
    display: none;
  }

  .body-section {
    display: flex;
  }
  .welcome-section {
    display: flex;
    flex-direction: row;
  }

  .welcome-container {
    height: auto;
  }

  .tag-line-2 {
    text-align: center;
  }

  .desktop-view {
    display: initial;
  }

  .image-div {
    flex: 1;
  }

  .row-1,
  .row-2 {
    display: flex;
  }
  .home-image {
    height: 100%;
  }

  .slide-items {
    height: fit-content;
  }

  .message-container {
    padding: 20px;
  }
}
