<img class="home-image" src="assets/jumping-image.png" alt="" />
<div class="welcome-container">
  <h1 class="welcome-title">Welcome to CARDio</h1>
  <h2 class="tag-line">CARDio will get you fired up!</h2>
  <h3 class="tag-line-2">When the world is trying to hold you back!</h3>
  <p class="welcome-message">
    This pandemic has been a trying time for everybody. Are your energy levels
    depleted? Exhausted from being confined to your home? Running out of things
    to do? The team at CARDio believes one of the best ways to combat these
    situations is to exercise, but where do you start? With CARDio, you can
    exercise in the comfort of your on home, or take your workout outside.
  </p>
</div>
<div class="all-messages">
  <div class="message-container">
    <h2 class="message-title">Workouts for every fitness level</h2>
    <p class="message">
      Search through our database of exersises and discover a variety of
      workouts that can easily be done at home. Filter by workout name, body
      section and level of difficulty. CARDio makes it simple to find what fits
      you.
    </p>
  </div>
  <img
    class="home-image"
    src="assets/F7306892-4843-476A-A2BB-43EE7D2DEFB6.jpeg"
    alt=""
  />
  <div class="message-container">
    <h2 class="message-title">Can't find the exercises that you like?</h2>
    <p class="message">
      Our collection of exerises is forever growing. Users are able to submit
      workouts of there own that will be stored in our database, and instanstly
      be available for every user to try. We're all in this together!
    </p>
  </div>
  <img
    class="home-image"
    src="assets/iphone-6-mockup-template-of-a-young-woman-at-the-gym-a4804.png"
    alt=""
  />
  <div class="message-container">
    <h2 class="message-title">Looking for an extra challenge?</h2>
    <p class="message">
      Try CARDio's built in card game and race against the clock to complete a
      series of workouts. Select a set of your favortie exercises or let CARDio
      generate them for you. Start the game and see if you can make it through
      the whole deck!
    </p>
  </div>
  <img
    class="home-image"
    src="assets/C650B2FB-5CFC-453F-9E46-F5F87BF1F79F_1_201_a.jpeg"
    alt=""
  />
  <div class="message-container">
    <h2 class="message-title">Track your progress.</h2>
    <p class="message">
      <!-- this wording is weird -->
      When you finish your workout you will receive a summary of your stats.
      Save your workout to compare with future workouts and and see if you can
      beat your best time and number of cards completed.
    </p>
  </div>
</div>
