<div
  *ngIf="!statsPageRef"
  class="panel-title mobile"
  (click)="toggleShowCollapsible()"
>
  <p class="title text-dark">
    See All Card Game Exercises ({{ cardExercisesRef.length }})
  </p>

  <i
    *ngIf="!showCollapsible"
    class="fas fa-caret-down text-dark"
    data-toggle="collapse"
    href="#collapse1"
  ></i>
  <i
    *ngIf="showCollapsible"
    class="fas fa-caret-up text-dark"
    data-toggle="collapse"
    href="#collapse1"
  ></i>
</div>

<div
  *ngIf="showCollapsible || statsPageRef"
  class="game-exercises mobile text-dark"
>
  <p *ngIf="statsPageRef" class="exercises-title">Exercises:</p>
  <p *ngIf="url === 'exercises'">(select up to 10 exercises)</p>
  <p *ngIf="cardExercisesRef.length === 0">
    You currently have no exercises added for your card game workout. Hit the
    plus sign on an exercise to add it!
  </p>
  <ol *ngIf="cardExercisesRef.length !== 0" class="ordered-list">
    <li *ngFor="let cardExercise of cardExercisesRef">
      <div class="list-item">
        <p
          [ngClass]="{
            name: url === 'exercises',
            'current-exercise':
              currentExerciseRef?.exercise_id === cardExercise?.exercise_id
          }"
        >
          {{ cardExercise.name }}
        </p>
        <i
          (click)="emitRemoveEvent(cardExercise)"
          class="fas fa-minus"
          *ngIf="url === 'exercises'"
        ></i>
      </div>
    </li>
  </ol>
  <p
    *ngIf="url === 'exercises' && cardExercisesRef.length > 0"
    class="clear text-dark border-bottom-dark"
    (click)="emitClearEvent()"
  >
    Clear All Exercises
  </p>
</div>

<div
  class="game-exercises desktop text-dark"
  [ngClass]="{
    'stats-page-exercises': statsPageRef
  }"
>
  <p class="exercises-title title-view">Exercises:</p>
  <p *ngIf="url === 'exercises'">(select up to 10 exercises)</p>
  <p *ngIf="cardExercisesRef.length === 0" class="no-exercises-dark">
    You currently have no exercises added for your card game workout. Hit the
    plus sign on an exercise to add it!
  </p>
  <ol *ngIf="cardExercisesRef.length !== 0" class="ordered-list">
    <li *ngFor="let cardExercise of cardExercisesRef">
      <div class="list-item">
        <p
          [ngClass]="{
            name: url === 'exercises',
            'current-exercise':
              currentExerciseRef?.exercise_id === cardExercise?.exercise_id
          }"
        >
          {{ cardExercise.name }}
        </p>
        <i
          (click)="emitRemoveEvent(cardExercise)"
          class="fas fa-minus"
          *ngIf="url === 'exercises'"
        ></i>
      </div>
    </li>
  </ol>
  <p
    *ngIf="url === 'exercises' && cardExercisesRef.length > 0"
    (click)="emitClearEvent()"
    class="clear text-dark border-bottom-dark"
  >
    Clear All Exercises
  </p>
</div>
