.panel-title {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  position: relative;
  background-color: rgb(100, 104, 136);
}

.title,
.exercises-title {
  width: 100%;
  text-align: center;
  padding: 10px 20px;
  box-sizing: border-box;
}

.title {
  padding: 10px 20px;
}

.exercises-title {
  padding: 10px 20px 0px 20px;
}

.fa-caret-up,
.fa-caret-down {
  position: absolute;
  top: 10px;
  right: 15px;
}

.ordered-list {
  padding: 0px;
  padding-left: 20px;
  width: 100%;
  margin: 10px 0px;
}

.game-exercises {
  width: 100%;
  margin: auto;
  height: fit-content;
  padding: 0px 20px 10px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(100, 104, 136);
}

.no-exercises-dark {
  text-align: center;
  margin: 5px 0px;
  color: hsl(0, 0%, 90%);
}

.list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.name {
  width: 75%;
}

.clear {
  text-align: center;
}

.desktop {
  visibility: hidden;
  height: 0px;
  padding: 0;
  margin: 0;
}

.title-view {
  display: none;
}

.stats-page-exercises {
  margin-bottom: 10px;
}

.current-exercise {
  text-decoration: underline;
}

@media only screen and (min-width: 768px) {
  .list-item {
    padding: 3px 0px;
  }
  .stats-page-exercises {
    width: 100%;
  }
  .mobile {
    display: none;
    height: 0px;
  }
  .desktop {
    visibility: visible;
    height: fit-content;
    padding: 10px 20px;
  }
  .title-view {
    display: initial;
  }
}
