<div
  *ngIf="!statsPageRef"
  class="panel-title mobile"
  (click)="toggleShowCollapsible()"
>
  <p
    class="title"
    [ngClass]="{
      'element-background-dark': darkModeRef,
      'element-background-light': !darkModeRef,
      'text-dark': darkModeRef,
      'text-light': !darkModeRef
    }"
  >
    See All Card Game Exercises
  </p>
  <i
    *ngIf="!showCollapsible"
    class="fas fa-caret-down"
    data-toggle="collapse"
    href="#collapse1"
    [ngClass]="{ 'text-dark': darkModeRef, 'text-light': !darkModeRef }"
  ></i>
  <i
    *ngIf="showCollapsible"
    class="fas fa-caret-up"
    data-toggle="collapse"
    href="#collapse1"
    [ngClass]="{ 'text-dark': darkModeRef, 'text-light': !darkModeRef }"
  ></i>
</div>

<div
  *ngIf="showCollapsible || statsPageRef"
  class="game-exercises mobile"
  [ngClass]="{
    'stats-page-exercises': statsPageRef,
    'element-background-dark': darkModeRef,
    'element-background-light': !darkModeRef,
    'text-dark': darkModeRef,
    'text-light': !darkModeRef
  }"
>
  <p *ngIf="statsPageRef" class="title">Exercises:</p>
  <p *ngIf="url === 'exercises'">(select up to 10 exercises)</p>
  <p
    *ngIf="cardExercisesRef.length === 0"
    [ngClass]="{
      'no-exercises-dark': darkModeRef,
      'no-exercises': !darkModeRef
    }"
  >
    You currently have no exercises added for your card game workout. Hit the
    plus sign on an exercise to add it!
  </p>
  <ol *ngIf="cardExercisesRef.length !== 0" class="ordered-list">
    <li *ngFor="let cardExercise of cardExercisesRef">
      <div class="list-item">
        <p
          [ngClass]="{
            name: url === 'exercises',
            'current-exercise':
              currentExerciseRef?.exercise_id === cardExercise?.exercise_id
          }"
        >
          {{ cardExercise.name }}
        </p>
        <i
          (click)="emitRemoveEvent(cardExercise)"
          class="fas fa-minus"
          *ngIf="url === 'exercises'"
        ></i>
      </div>
    </li>
  </ol>
  <p
    *ngIf="url === 'exercises' && cardExercisesRef.length > 0"
    class="clear"
    [ngClass]="{
      'text-dark': darkModeRef,
      'border-dark': darkModeRef,
      'text-light': !darkModeRef,
      'border-light': !darkModeRef
    }"
    (click)="emitClearEvent()"
  >
    Clear All Exercises
  </p>
</div>

<div
  class="game-exercises desktop"
  [ngClass]="{
    'stats-page-exercises': statsPageRef,
    'element-background-dark': darkModeRef,
    'element-background-light': !darkModeRef,
    'shadow-dark': darkModeRef,
    'shadow-light': !darkModeRef,
    'text-dark': darkModeRef,
    'text-light': !darkModeRef
  }"
>
  <p
    class="title title-view"
    [ngClass]="{ 'text-dark': darkModeRef, 'text-light': !darkModeRef }"
  >
    Exercises:
  </p>
  <p
    *ngIf="url === 'exercises'"
    [ngClass]="{ 'text-dark': darkModeRef, 'text-light': !darkModeRef }"
  >
    (select up to 10 exercises)
  </p>
  <p
    *ngIf="cardExercisesRef.length === 0"
    [ngClass]="{
      'no-exercises-dark': darkModeRef,
      'no-exercises': !darkModeRef
    }"
  >
    You currently have no exercises added for your card game workout. Hit the
    plus sign on an exercise to add it!
  </p>
  <ol *ngIf="cardExercisesRef.length !== 0" class="ordered-list">
    <li
      *ngFor="let cardExercise of cardExercisesRef"
      [ngClass]="{ 'text-dark': darkModeRef, 'text-light': !darkModeRef }"
    >
      <div class="list-item">
        <p
          [ngClass]="{
            name: url === 'exercises',
            'text-dark': darkModeRef,
            'text-light': !darkModeRef,
            'current-exercise':
              currentExerciseRef?.exercise_id === cardExercise?.exercise_id
          }"
        >
          {{ cardExercise.name }}
        </p>
        <i
          (click)="emitRemoveEvent(cardExercise)"
          class="fas fa-minus"
          [ngClass]="{ 'text-dark': darkModeRef, 'text-light': !darkModeRef }"
          *ngIf="url === 'exercises'"
        ></i>
      </div>
    </li>
  </ol>
  <p
    *ngIf="url === 'exercises' && cardExercisesRef.length > 0"
    (click)="emitClearEvent()"
    class="clear"
    [ngClass]="{
      'text-dark': darkModeRef,
      'border-dark': darkModeRef,
      'text-light': !darkModeRef,
      'border-light': !darkModeRef
    }"
  >
    Clear All Exercises
  </p>
</div>
