.panel-title {
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 255, 0.2);
  padding: 10px;
  box-sizing: border-box;
}

.title {
  width: 100%;
  position: relative;
  text-align: center;
}

.title-margin {
  margin-bottom: 20px;
}

.ordered-list {
  padding: 0px;
  padding-left: 20px;
  width: 100%;
  margin: 10px 0px;
}

.game-exercises {
  width: 100%;
  margin: auto;
  height: fit-content;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 255, 0.2);
  box-sizing: border-box;
  align-items: center;
  margin-bottom: 20px;
}

.no-exercises {
  text-align: center;
  margin: 5px 0px;
  color: rgba(0, 0, 0, 0.5);
}

.list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.start {
  width: 40%;
}

.underline {
  border-bottom: 1px solid black;
  padding: 5px 0px;
}

.desktop {
  visibility: hidden;
  height: 0px;
}

@media only screen and (min-width: 768px) {
  .game-exercises {
    width: 250px;
  }
  .panel-title {
    width: 250px;
  }
  .list-item {
    padding: 3px 0px;
  }

  .stats-page-exercises {
    width: 100%;
  }

  .mobile {
    display: none;
  }

  .desktop {
    visibility: visible;
    height: auto;
  }
}
