<div
  *ngIf="!statsPageRef"
  class="panel-title mobile"
  [ngClass]="{ 'title-margin': !showCollapsible }"
  (click)="toggleShowCollapsible()"
  [ngClass]="{
    'element-background-dark': darkModeRef,
    'element-background-light': !darkModeRef
  }"
>
  <p class="title">See All Card Game Exercises</p>
  <i
    *ngIf="!showCollapsible"
    class="fas fa-caret-down"
    data-toggle="collapse"
    href="#collapse1"
  ></i>
  <i
    *ngIf="showCollapsible"
    class="fas fa-caret-up"
    data-toggle="collapse"
    href="#collapse1"
  ></i>
</div>

<div
  *ngIf="showCollapsible || statsPageRef"
  class="game-exercises"
  [ngClass]="{
    'stats-page-exercises': statsPageRef,
    'element-background-dark ': darkModeRef,
    'element-background-light': !darkModeRef
  }"
>
  <p *ngIf="statsPageRef" class="title">Exercises:</p>
  <p *ngIf="url === 'exercises'">(select up to 10 exercises)</p>
  <p
    *ngIf="cardExercisesRef.length === 0"
    [ngClass]="{
      'no-exercises-dark': darkModeRef,
      'no-exercises': !darkModeRef
    }"
  >
    You currently have no exercises added for your card game workout. Hit the
    plus sign on an exercise to add it!
  </p>
  <ol *ngIf="cardExercisesRef.length !== 0" class="ordered-list">
    <li *ngFor="let cardExercise of cardExercisesRef">
      <div class="list-item">
        <p>{{ cardExercise.name }}</p>
        <i
          (click)="emitRemoveEvent(cardExercise)"
          class="fas fa-minus"
          *ngIf="url === 'exercises'"
        ></i>
      </div>
    </li>
  </ol>
  <p
    *ngIf="url === 'exercises' && cardExercisesRef.length > 0"
    class="start underline"
    (click)="emitClearEvent()"
  >
    Clear All Exercises
  </p>
</div>

<div
  *ngIf="!statsPageRef"
  class="game-exercises desktop"
  [ngClass]="{
    'stats-page-exercises': statsPageRef,
    'element-background-dark': darkModeRef,
    'element-background-light': !darkModeRef
  }"
>
  <p
    class="title title-view"
    [ngClass]="{ 'text-dark': darkModeRef, 'text-light': !darkModeRef }"
  >
    Exercises:
  </p>
  <p
    *ngIf="url === 'exercises'"
    [ngClass]="{ 'text-dark': darkModeRef, 'text-light': !darkModeRef }"
  >
    (select up to 10 exercises)
  </p>
  <p
    *ngIf="cardExercisesRef.length === 0"
    [ngClass]="{
      'no-exercises-dark': darkModeRef,
      'no-exercises': !darkModeRef
    }"
  >
    You currently have no exercises added for your card game workout. Hit the
    plus sign on an exercise to add it!
  </p>
  <ol *ngIf="cardExercisesRef.length !== 0" class="ordered-list">
    <li *ngFor="let cardExercise of cardExercisesRef">
      <div class="list-item">
        <p [ngClass]="{ 'text-dark': darkModeRef, 'text-light': !darkModeRef }">
          {{ cardExercise.name }}
        </p>
        <i
          (click)="emitRemoveEvent(cardExercise)"
          class="fas fa-minus"
          *ngIf="url === 'exercises'"
        ></i>
      </div>
    </li>
  </ol>
  <p
    *ngIf="url === 'exercises' && cardExercisesRef.length > 0"
    class="underline"
    (click)="emitClearEvent()"
    [ngClass]="{ 'text-dark': darkModeRef, 'text-light': !darkModeRef }"
  >
    Clear All Exercises
  </p>
</div>
