<p
  class="form-title"
  [ngClass]="{ 'text-dark': darkModeRef, 'text-light': !darkModeRef }"
>
  Filter Exercises
</p>
<form
  class="search-form"
  #filterForm="ngForm"
  (input)="emitSubmitEvent(filterForm)"
  (change)="emitSubmitEvent(filterForm)"
  [ngClass]="{ 'text-dark': darkModeRef, 'text-light': !darkModeRef }"
>
  <input
    class="input text"
    type="text"
    name="name"
    id="name"
    placeholder="Enter Exercise Name..."
    ngModel
  />

  <select class="input" name="bodyPart" id="bodyPart" ngModel>
    <option value="" disabled>Target Muscle Group</option>
    <option value="">All</option>
    <option value="1">Calves</option>
    <option value="2">Thighs</option>
    <option value="3">Glutes and Hamstrings</option>
    <option value="4">Core</option>
    <option value="5">Back and Biceps</option>
    <option value="6">Chest, Shoulders, and Triceps</option>
    <option value="7">Full Body</option>
    <option value="8">Plyometrics</option>
  </select>
  <select class="input" name="difficulty" id="difficulty" ngModel>
    <option value="" disabled>Max Difficulty</option>
    <option value="">All</option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
  </select>
  <!-- <button
    class="button"
    [ngClass]="{
      'text-dark': darkModeRef,
      'shadow-dark': darkModeRef,
      'text-light': !darkModeRef
    }"
  >
    Submit
  </button> -->
  <div class="workout-display">
    <p
      class="all-workouts"
      [ngClass]="{
        'border-dark': darkModeRef,
        'border-light': !darkModeRef
      }"
      (click)="emitClearFilterEvent(filterForm)"
    >
      All Workouts
    </p>
    <p
      class="border"
      [ngClass]="{
        'border-dark': darkModeRef,
        'border-light': !darkModeRef
      }"
      (click)="toggleAddForm()"
    >
      Add Workout
    </p>
  </div>
  <app-add-form
    *ngIf="addOpen"
    [darkModeRef]="darkModeRef"
    (closeEvent)="toggleAddForm()"
    (submitAddEvent)="emitAddEvent($event)"
  ></app-add-form>
</form>
