<form
  class="search-form"
  #filterForm="ngForm"
  (input)="emitSubmitEvent(obj)"
  (change)="emitSubmitEvent(obj)"
  [ngClass]="{ 'text-dark': darkModeRef, 'text-light': !darkModeRef }"
>
  <input
    class="text"
    type="text"
    name="name"
    id="name"
    placeholder="Enter Exercise Name..."
    [(ngModel)]="obj.name"
  />

  <div class="inputs">
    <div class="input-div left">
      <label
        for="bodyPart"
        class="label"
        [ngClass]="{ 'label-empty': !obj.bodyPart && obj.bodyPart !== '' }"
        >Target Muscle Group</label
      >
      <select
        class="input"
        name="bodyPart"
        id="bodyPart"
        [(ngModel)]="obj.bodyPart"
      >
        <option value="" disabled>Target Muscle Group</option>
        <option value="">All</option>
        <option value="1">Calves</option>
        <option value="2">Thighs</option>
        <option value="3">Glutes and Hamstrings</option>
        <option value="4">Core</option>
        <option value="5">Back and Biceps</option>
        <option value="6">Chest, Shoulders, and Triceps</option>
        <option value="7">Full Body</option>
        <option value="8">Plyometrics</option>
      </select>
    </div>

    <div class="input-div right">
      <select
        class="input"
        name="difficulty"
        id="difficulty"
        [(ngModel)]="obj.difficulty"
      >
        <option value="" disabled>Max Difficulty</option>
        <option value="">All</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
      <label
        for="bodyPart"
        class="label"
        [ngClass]="{ 'label-empty': !obj.difficulty && obj.difficulty !== '' }"
        >Max Difficulty</label
      >
    </div>
  </div>

  <div class="workout-display">
    <p
      class="border-bottom-dark text-dark"
      (click)="emitClearFilterEvent(filterForm)"
    >
      All Exercises
    </p>
    <i
      class="fas fa-book-reader fa-lg text-dark book-mobile"
      title="Muscle Group Diagram"
      (click)="emitVocabEvent()"
    ></i>
    <p class="border-bottom-dark text-dark" (click)="toggleAddForm()">
      Create Exercise
    </p>
    <i
      class="fas fa-book-reader fa-lg text-dark book-desktop"
      title="Muscle Group Diagram"
      (click)="emitVocabEvent()"
    ></i>
  </div>
  <app-add-form
    *ngIf="addOpen"
    [darkModeRef]="darkModeRef"
    (closeEvent)="toggleAddForm()"
    (submitAddEvent)="emitAddEvent($event)"
  ></app-add-form>
</form>
