.search-form {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: auto;
  background-image: linear-gradient(to right, #25273c, #5e6074) !important;
  color: hsl(0, 0%, 98%);
  padding: 15px 15px 5px 15px;
}

.form-title {
  font-size: 20px;
  text-align: center;
}

.workout-display {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.inputs {
  display: flex;
}

.input-div {
  position: relative;
  display: flex;
  flex: 1;
}

.left {
  margin-right: 2px;
}

.right {
  margin-left: 2px;
}

.input {
  margin: 5px 0;
  padding: 12px 0px 4px 0px;
  border: 1px solid rgb(10, 10, 10);
  background-color: white;
  width: 100%;
}

.label {
  position: absolute;
  left: 5px;
  top: 7px;
  font-size: 9px;
  pointer-events: none;
  color: gray !important;
}

.label-empty {
  font-size: 14px;
  top: 50%;
  transform: translate(0px, -50%);
}

.text {
  width: 100%;
  border: none;
  background-color: white;
  padding: 8px 0px 8px 5px;
  border-bottom: 1px solid lightgray;
}

.book-mobile {
  display: initial;
}

.book-desktop {
  display: none;
}

@media only screen and (min-width: 768px) {
  .search-form {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .form-title {
    text-align: left;
  }

  .workout-display {
    margin: 5px 0px;
    width: 230px;
    margin-left: 5px;
  }

  .text {
    display: flex;
    flex: 1;
    margin-right: 5px;
  }

  .book-mobile {
    display: none;
  }

  .book-desktop {
    display: initial;
  }
}

/* @media only screen and (min-width: 1053px) {
  .search-form,
  .form-title {
    width: 728px;
    margin-left: 290px;
  }
} */
